#main-header-row {
    background: #333;
    color: #f6f6f6;
    text-align: center;
    border-radius: 5px;
    margin-top: 2px;
}

#search-sect {
    background: #f6f6f6;
}

#forecast-container{
    display: flex;
    justify-content: space-between;
}

#current-uv-index{
    background:orangered;
    color: #f6f6f6;
    padding: 5px 8px;
    border-radius: 3px;
    display: none;
}

.forecast-card{
    width: 19%;
    background: #007bff;
    color: #f6f6f6;
}

@media (max-width: 767px){
    #forecast-header{
        text-align: center;
    }

    #forecast-container{
        flex-direction: column;
    }

    .forecast-card{
        text-align: center;
        width: 80%;
        padding: 20px;
        margin: 0 auto;
        margin-bottom: .6rem;
    }

    .fc-weather-icon{
        margin: 0 auto;
    }

}